@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.wrapper {
  width: 100%;
  height: 100%; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100%;
  background-color: rgba 0, 0, 0, 0.31;
  min-height: 650px;
  min-width: 940px; }

.order-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-family: 500;
  font-size: 13px;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #c23e1a; }

.first {
  background-image: url("../image/first-texture.png"), url("../image/first-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  font-weight: 500;
  font-size: 13px;
  display: inline-block;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #fff; }
  .nav__link:hover {
    text-decoration: underline; }

.first__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.first__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%; }

.first__img, .first__description {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.first__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title {
  color: #f9b43b;
  font-family: "gagalin";
  font-size: 72px;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.first__description-text {
  color: #fff;
  font-family: "lifehack";
  font-size: 65px;
  font-weight: 400;
  line-height: 1; }

.second {
  background-image: url("../image/second-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.second__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px; }

.second__item {
  width: 285px;
  text-align: center; }

.second__img {
  width: 100%;
  height: 100%;
  margin: 0; }

.second__item-title {
  font-family: 'lifehack';
  font-size: 24px; }

.section__title-second {
  color: #2f3234; }

.third {
  background-image: url("../image/third-bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.third__content-title {
  color: #fff;
  font-family: "gagalin";
  font-size: 72px;
  font-weight: 300;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.third__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.third__content-desc {
  width: 500px;
  float: right;
  /*display: flex;
    /*flex-direction: row;*/
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: justify; }

.third__content-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.third__img {
  margin-left: 50px; }

.third__content-price {
  font-family: "gagalin";
  font-size: 72px;
  font-weight: 300;
  color: #e35028; }
