.third {
    background-image: url("../image/third-bg.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.third__content-title {
    color: #fff;
    font-family: "gagalin";
    font-size: 72px;
    font-weight: 300;
    line-height: .8;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 50px;
 }

.third__content {
    display: flex;
    flex-direction: column;
    float: right;
    width: 550px;
    margin-right: 100px;
}

.third__content-price {
    color: #e35028;
    font-size: 72px;
    font-family: "gagalin";
    margin-top: 30px;

}

.third__content-desc {
    line-height: 1.62;
    color: #fff;
}

.third__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 100px;
}

.third__desc-img {
    float: left;
    margin-right: 500px;
}

.third__desc-nutr {
    margin-left: 30px;

}

.third__desc-kkal {
    margin-left: 30px;
}